body {
    margin: 40px 120px 20px 120px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    text-align: center;
	height: 100%;
}

.content {
    width: 800px;
    text-align: left;
    padding: 0;
    margin: 0 auto;
}

.info{
    font-size: large;
}

.greeting{
    font-size: x-large;
}

img.cat-image{
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.social a {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 5px;
    opacity: 0.85;
}

.social a:hover {
    opacity: 1;
}

.social a.bitbucket {
    background: url('/i/bitbucket.png') center no-repeat;
}

.social a.linkedin {
    background: url('/i/linked-in.png') center no-repeat;
    width: 42px;
}

.social a.twitter {
    background: url('/i/twitter.png') center no-repeat;
    width: 39px;
}

.social a.stackoverflow {
    background: url('/i/stackoverflow.png') center no-repeat;
}
