html{
	height: 100%
}

body {
    margin: 40px 120px 20px 120px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    text-align: center;
	height: 100%;
}

td.highlighted a.ui-state-default{
	color: red;
}

.content {
    width: 800px;
    text-align: left;
    padding: 0;  
    margin: 0 auto; 

}

.greeting{
    font-size: x-large;    
}

img.cat-image{
	position: absolute;
	right: 10px;
	bottom: 10px;
}