---
---

@import "minima";


.social a {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 5px;
    opacity: 0.85;
}

.social a:hover {
    opacity: 1;
}

.social a.linkedin {
    background: url('/i/linked-in.png') center no-repeat;
    width: 42px;
}

.social a.twitter {
    background: url('/i/twitter.png') center no-repeat;
    width: 39px;
}

.social a.stackoverflow {
    background: url('/i/stackoverflow.png') center no-repeat;
}

.social a.github {
    background: url('/i/github.png') center no-repeat;
}
